@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --icon-blue:#1da1f2;
}

body{
  scrollbar-width: 0;
  scroll-behavior: smooth;
  background-color: #f2f4f5;
}
